<div class="login">

    <a
    (click)="gotoConnection()"> Se connecter</a>
</div>
<div class="container-fluid">
    <div class="title">
        <h1>Diabiw</h1>
    </div>

    <div class="form">
      <div class="form-ds">
        <div class="right">
            <label for="">Type d'examen</label>
            <br>
            <select name="" id="">
                <option value="1">Bac</option>
                <option value="2">DEF</option>
                <option value="3">BT1</option>
                <option value="4">BT1</option>
            </select>
        </div>
        <div class="left">
            <label for="">Année d'examen</label>
            <br>
            <select name="" id="">
                <option value="1">2024</option>
                <option value="2">2023</option>
                <option value="1">2022</option>
                <option value="1">2021</option>
            </select>
        </div>
      </div>
      <br>
      <div class="search">
        <input type="search" name="" id="" placeholder="Entrez votre numéro de place">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </div>
    </div>

    <div class="footer">
        <img src="../assets/foot.png" alt="footer">
    </div>
    
</div>