.button{
    width: 180px;
    padding: 1rem;
    position: absolute;
    right: 0;
    top: 0;
}

.button button {
    color: #1A891E;
    background: transparent;
    width: 80%;
    padding: 5px;
    border: 1px solid #1A891E;
    border-radius: 20px;
    cursor: pointer;
}

.login a:hover{
    background: #1A891E;
    color: #fff;
}