<div class="container">
    <div class="sidebar">
        <div class="head">
            <span>DIABIW</span>
        </div>
        <nav>
            <ul>
              <li>
                <a routerLink="statistique" routerLinkActive="active"> <i class="fa-solid fa-house"></i>  Dashboard</a>
              </li>
              <li>
                <a routerLink="examen" routerLinkActive="active"><i class="fa-solid fa-book"></i> Examens</a>
              </li>
            </ul>
          </nav>
    </div>
    <div class="body">
        <router-outlet></router-outlet>
    </div>
</div>